[Unit]
Description=IssTech IssSys Client
StartLimitIntervalSec=0

[Service]
Type=idle
Restart=always
RestartSec=1
IgnoreSIGPIPE=no
StandardOutput=syslog
StandardError=inherit
User=root
WorkingDirectory=/opt/IssTech/IssSys/linux/
Environment="ARGS=--daemon"
ExecStart=/opt/IssTech/IssSys/linux/isssys.py $ARGS
ExecReload=/bin/kill -SIGHUP $MAINPID

[Install]
Alias=isssys.service
